/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

/* @import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"); */

/* * {
  margin: 0;
  font-family: "@Quicksand";
  color: darkcyan;
} */

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 500px;
  margin: 0 auto;
}

.navbar h1 {
  color: darkcyan(50, 205, 164, 0.637);
}

.navbar .link {
  margin-left: auto;
}

.navbar a {
  margin-left: 15px;
  text-decoration: none;
  padding: 6px;
}

.navbar :hover {
  color: rgb(26, 68, 68);
}

.components {
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;
  cursor: pointer;
}

.blog-prview {
  padding: 10px 15px;
  margin: 20px 0;
  border-bottom: 1px solid grey;
  background-color: #d7ede5;
}

.blog-prview:hover {
  box-shadow: 1px 4px 5px rgb(14, 32, 32);
}

.blog-prview h2 {
  font-size: 20px;
  color: rgb(84 121 88);
  margin-bottom: 10px;
}

.blog-prview p {
  font-size: 20px;
  color: rgb(37, 130, 11);
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0px;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(26, 68, 68);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal.content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s;
}

@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.close {
  color: rgb(7, 88, 61);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-heder {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: darkgrey;
}

.modal-body {
  padding: 2px 16px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}
